@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  font-family: "Poppins";
  background: var(--background-color);
  min-height: 100%;
}

a {
  color: #fff;
  text-decoration: underline;
}

section {
  margin-top: 2rem;
}

.color {
  color: var(--main-color);
}

/* variable */
:root {
  --main-color: #EC4C56;
  --background-color: #242933;
  --second-color: #343b49;
  --footer-color: #1a1f2b;
}

/* Header */
header {
  transition: 0.5s all ease;
}

.header-active {
  background: var(--main-color);
  transition: 0.5s all ease;
}

.nav-link {
  color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link:hover{
  background: var(--main-color);
  color: #fff;
}

/* Title text */

.title-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.title {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  width: 1000px;
}

.title .main-text{
  text-align: left;
}

.title .main-text h1{
  font-size: 4rem;
}

.title .main-text h3{
  font-size: 2.5rem;
}

.title .second-text p{
  margin-top: 5.2rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 30px;
  text-align: left;
}

.title .second-text button{
  padding: 6px;
}
.title .second-text button > a{
  text-decoration: none;
}

.title .second-text button > a:hover{
  color: white;
}

/* Why choose us */
#why-choose-us {
  background: var(--second-color);
  color: #fff;
}

#why-choose-us .text-wrapper{
  padding-top: 30px;
}

#why-choose-us .text-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  width: 1000px;
  margin: auto;
}

#why-choose-us .text-wrapper .text .list-title {
  font-size: 1.3rem;
}

#why-choose-us .text-wrapper .image img{
  width: 500px;
}

/* Testimonials */
#testimonials .heading{
  color: #fff;
}

#testimonials .card {
  color: #000;
  padding: 10px;
  border-radius: 1em 4em;
}

#testimonials .card .img img {
  width: 50px;
  border-radius: 50%;
}

/* Jumbotron
.jumbotron {
  background: rgb(49, 48, 64);
  background: linear-gradient(
    0deg,
    rgba(49, 48, 64, 1) 0%,
    rgba(115, 151, 158, 1) 100%
  );
  height: 100vh;
}

.jumbotron .btn {
  padding: 8px 18px;
  font-size: 1.2rem;
} */

/* Pricing */
#pricing {
  margin-top: 3.8rem;
  color: #fff;
}

#pricing .card {
  background: var(--background-color);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.144);
}

/* Rank list */
#rank-list .card {
  background: var(--background-color);
}

#rank-list .card .card-body .form-input label,
#payment-method .card .card-body .form-input label{
  cursor: pointer;
}

#rank-list .card .card-body .form-input:hover,
#payment-method .card .card-body .form-input:hover {
  border-radius: 5px;
  background: var(--second-color);
}

#rank-list .card .card-body .form-input input:checked + label,
#payment-method .card .card-body .form-input input:checked + label{
  border-radius: 5px;
  color: #fff;
  background: var(--second-color);
}

#rank-list .card-body {
  padding: 0.5rem;
}

#rank-list .card-title {
  font-size: 16px;
}

#rank-list .card-text .rank-tier{
  font-size: 12px;
}

#rank-list .card-text .rank-nominal {
  font-family: 'Noto Serif';
  font-size: 0.7rem;
}

#payment-method .accordion .card {
  color: #fff;
}



/* footer */
footer {
  background: var(--footer-color);
  padding: 2rem ;
  margin-top: 2rem;
  color: #fff;
}

footer .footer-title h2 {
  font-size: 2rem;
  font-weight: 600;
}

footer .content-container {
  display: flex;
  justify-content: space-between;
}

footer .content-container .link-wrapper {
  display: flex;
}